<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - Post-Co</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_cart.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">

    <!-- Header Section -->
    <header class="bg-white shadow w-full">
        <div class="container mx-auto flex justify-between items-center" style="height: 110px;">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/kopis.gif') }}" alt="KOPIS" style="height: 45px; width: auto;">
            </a>
            <nav class="flex space-x-8 text-gray-700 relative">
                <a href="{{ url_for('index') }}" class="hover:text-blue-600">HOME</a>
                <a href="https://github.com/This-is-That/poster-copycatch" target="_blank" class="hover:text-blue-600">ABOUT</a>
                <a href="{{ url_for('cart') }}" class="hover:text-blue-600">CART</a>
                <div class="relative group">
                    <a href="#" class="hover:text-blue-600">CONTACT</a>
                    <div class="absolute hidden group-hover:flex flex-col items-center bg-white border border-gray-300 shadow-lg p-4 rounded-lg" style="width: 250px; left: 50%; transform: translateX(-50%); top: 100%;">
                        <div class="flex items-center justify-center w-full">
                            <img src="{{ url_for('static', filename='images/mail.png') }}" alt="Mail Icon" class="w-4 h-4 mr-2">
                            <p id="emailText" class="text-gray-600">wlghks7790@gmail.com</p>
                        </div>
                        <button id="copyButton" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 rounded-lg px-4 py-2 text-sm mt-2">COPY</button>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- Main Section -->
    <main class="flex-grow container mx-auto py-6">
        <!-- 제목 영역 -->
        <div class="w-full text-center mb-6">
            <h1 class="text-3xl font-bold text-gray-900">Your Cart</h1>
        </div>

        <!-- 버튼 영역 -->
        <div class="flex justify-center mb-6">
            <!-- 왼쪽 버튼들 -->
            <div class="flex space-x-6">
                <button id="deleteButton" class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 disabled:opacity-50" disabled>
                    🧹 Delete
                </button>
                <div class="flex items-center">
                    <span id="selectedCount" class="text-gray-900 font-semibold">Selected: 0</span>
                </div>
                <button id="resetButton" class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 disabled:opacity-50" disabled>
                    🛒 Reset
                </button>
            </div>
        </div>
        <div class="flex justify-center mb-2">
            <button id="generateButton" class="bg-blue-600 text-white px-8 py-2 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:opacity-50" disabled>
                👨‍🎨 Generate New Poster! 👩‍🎨
            </button>
        </div>
        <div class="w-full text-center mb-6">
            <p class="text-sm text-gray-400 mt-1">선택한 포스터를 이미지 생성에 활용할 수 있어요! (1개 이하 선택 시)</p>
        </div>
        <div id="cartItems" class="grid grid-cols-3 mt-6 gap-4"></div>

        <!-- 생성된 이미지 섹션 -->
        <section id="genImageSection" style="display: flex;">
            <button id="scrollToTopBtn" class="scroll-to-top hidden">Top</button>
            <div class="w-full text-center">
                <h2 class="text-3xl font-bold text-gray-900 mb-4">Generated Poster</h2>
            </div>
            <div id="generatedImages" class="flex flex-col gap-4 items-center"></div>
        </section>
    </main>

    <!-- Delete Confirmation Popup -->
    <div id="deletePopup" class="popup">
        <p class="popup-message">이 포스터를 삭제하시겠습니까?</p>
        <div class="mt-4 text-center">
            <button id="confirmDeleteBtn" class="text-white bg-red-600 hover:bg-red-700 px-4 py-2 rounded-lg">확인</button>
            <button id="cancelDeleteBtn" class="text-gray-600 border border-gray-300 px-4 py-2 rounded-lg">취소</button>
        </div>
    </div>

    <!-- Image Removed Popup -->
    <div id="imageRemovedPopup" class="popup">
        <p class="popup-message">👋 포스터가 삭제되었습니다!</p>
    </div>

    <!-- Generate New Image Confirmation Popup -->
    <div id="generatePopup" class="popup">
        <p id="generatePopupTitle" class="text-xl popup-message">나만의 포스터를 만들어요!</p>
        <div class="selected-image-container mb-4">
            <img src="" id="selectedImage" class="inline-block border border-gray-300 rounded-lg max-w-full h-auto hidden" alt="Selected Image" style="max-height:450px">
            <p id="noImageMessage" class="text-gray-700 popup-message">
                원하는 포스터를 설명해주세요!<br>
                gpt4o-mini로 구체적인 설명을 작성하고, DALL-E 3로 이미지를 생성해드려요.<br>
                [예시] 바다의 신비로움과 웅장함을 강조한 포스터
        </div>
        <p id="exampleMessage" class="text-gray-500 mb-4 hidden">
            [예시 1] 이미지 스타일을 밝고 따뜻한 색상으로 변경해줘.<br>
            [예시 2] 바다의 신비로움과 물결의 흐름을 강조해줘.<br>
        </p>
        <textarea 
            id="promptInput" 
            class="border border-gray-300 rounded-lg px-4 py-2 w-full h-32 resize-none mb-4" 
            placeholder="어떤 포스터를 만들고 싶나요?"
            rows="4"
        ></textarea>
        <p class="popup-message">👨‍🎨 새로운 포스터를 생성하시겠습니까?</p>
        <div class="mt-4 text-center">
            <button id="confirmGenerateBtn" class="text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-lg" disabled>확인</button>
            <button id="cancelGenerateBtn" class="text-gray-600 border border-gray-300 px-4 py-2 rounded-lg">취소</button>
        </div>
    </div>

    <!-- Download Confirmation Popup -->
    <div id="downloadPopup" class="popup">
        <p class="popup-message">포스터를 다운로드 하시겠습니까?</p>
        <div class="mt-4 text-center">
            <button id="confirmDownloadBtn" class="text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-lg">확인</button>
            <button id="cancelDownloadBtn" class="text-gray-600 border border-gray-300 px-4 py-2 rounded-lg">취소</button>
        </div>
    </div>

    <!-- Download Success Popup -->
    <div id="downloadSuccessPopup" class="popup">
        <p class="popup-message">다운로드를 시작합니다.<br>다운로드 폴더를 확인해주세요!</p>
    </div>

    <!-- Generate Loading Popup -->
    <div id="loadingPopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-4 rounded-lg shadow-lg flex items-center justify-center flex-col"> <!-- flex-col 추가 -->
            <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading" class="h-48 w-48">
            <p class="mt-2 text-gray-700">🎨 포스터가 약 20초 후에 완성됩니다.</p>
            <p class="mt-2 text-gray-700">DALL-E 3가 열심히 그리고 있으니 조금만 기다려주세요!</p>
        </div>
    </div>

    <!-- Temporary Popup for Email Copy Confirmation -->
    <div id="copyPopup" class="fixed hidden bg-blue-600 text-white p-3 rounded-lg shadow-lg" style="z-index: 1000;">
        Email copied to clipboard!
    </div>

    <!-- Footer Section -->
    <footer class="bg-white py-4 shadow mt-10">
        <div class="container mx-auto text-center text-gray-500">
            &copy; 2024 This-is-That All rights reserved.
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts_cart.js') }}"></script>
</body>
</html>
