<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Similarity Analytics Web Service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <style>
        .group:hover .group-hover\:flex {
            display: flex;
        }

        #copyPopup {
            transition: opacity 0.3s ease-in-out;
            font-size: 0.875rem;
            transform: translateX(-50%);
        }

        .image-info {
            display: none;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
        }

        /* Popup styles */
        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 16px;
            display: none;
        }

        .popup button {
            margin: 5px;
        }

        .popup.hidden {
            display: none;
        }

        .popup.visible {
            display: block;
        }
    </style>
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">
    <!-- Header Section -->
    <header class="bg-white shadow w-full">
        <div class="container mx-auto flex justify-between items-center" style="height: 120px;">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/kopis.gif') }}" alt="KOPIS" style="height: 45px; width: auto;">
            </a>
            <nav class="flex space-x-8 text-gray-700 relative">
                <a href="{{ url_for('index') }}" class="hover:text-blue-600">HOME</a>
                <a href="https://github.com/This-is-That/poster-copycatch" target="_blank" class="hover:text-blue-600">ABOUT</a>
                <a href="{{ url_for('cart') }}" class="hover:text-blue-600">CART</a>
                <div class="relative group">
                    <a href="#" class="hover:text-blue-600">CONTACT</a>
                    <div class="absolute hidden group-hover:flex flex-col items-center bg-white border border-gray-300 shadow-lg p-4 rounded-lg" style="width: 250px; left: 50%; transform: translateX(-50%); top: 100%;">
                        <div class="flex items-center justify-center w-full">
                            <img src="{{ url_for('static', filename='images/mail.png') }}" alt="Mail Icon" class="w-4 h-4 mr-2">
                            <p id="emailText" class="text-gray-600">wlghks7790@gmail.com</p>
                        </div>
                        <button id="copyButton" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 rounded-lg px-4 py-2 text-sm mt-2">COPY</button>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- Main Section -->
    <main class="flex-grow flex items-center justify-center">
        <div class="flex flex-col items-center justify-center w-full max-w-4xl p-6 bg-white shadow-lg rounded-lg">
            <div class="w-full mt-8 text-center">
                <h2 class="text-2xl font-bold text-gray-900">Similarity Analytics Web Service</h2>
                <p class="text-sm text-gray-600 mt-2">Discover similar images with your text or image.</p>

                <div class="relative mt-11 w-full">
                    <input type="text" id="searchInput" class="border border-gray-300 rounded-lg p-2 w-full h-11" placeholder="Enter your search text">
                    <button id="clearInputBtn" class="absolute right-4 top-2.5 text-black-500 hover:text-black-700 hidden">✕</button>
                </div>

                <div class="flex space-x-4 mt-2">
                    <div class="border border-gray-300 rounded-lg p-2 w-full example-text cursor-pointer">
                        <span class="block">🌊 이건 바다 이미지야.</span>
                        <span class="block text-gray-500 text-sm">바다가 그려진 포스터를 보여드려요!</span>
                    </div>
                    <div class="border border-gray-300 rounded-lg p-2 w-full example-text cursor-pointer">
                        <span class="block">🏖 이건 여름 이미지야.</span>
                        <span class="block text-gray-500 text-sm">여름 풍경을 감상해보세요!</span>
                    </div>
                    <div class="border border-gray-300 rounded-lg p-2 w-full example-text cursor-pointer">
                        <span class="block">🎨 이건 다채로운 이미지야.</span>
                        <span class="block text-gray-500 text-sm">다양한 색상을 느껴보세요!</span>
                    </div>
                </div>

                <button id="getStartedBtn" type="button" class="w-full mt-4 text-white bg-gray-400 cursor-not-allowed rounded-lg px-4 py-2 text-sm" disabled>Get Started</button>

                <div id="dropArea" class="border-dashed border-2 border-gray-400 p-16 mt-4 text-center rounded-lg relative w-full flex flex-col items-center justify-center">
                    <p class="text-sm text-gray-600">Drag & Drop your image here, or click the button to upload</p>
                    <button id="uploadBtn" type="button" class="mt-4 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 rounded-lg px-4 py-2">Upload Image</button>
                    <input type="file" id="fileInput" class="hidden" accept="image/*">
                </div>
            </div>
        </div>
    </main>

    <!-- Image Results Section -->
    <section id="imageResults" class="container mx-auto py-6">
        <h3 class="text-lg font-bold text-gray-800">Search Results</h3>
        <div id="loadingSpinner" class="hidden justify-center items-center mt-4">
            <svg class="animate-spin h-8 w-8 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
            </svg>
        </div>
        <div id="imageContainer" class="grid grid-cols-3 gap-4 mt-4"></div>
    </section>

    <!-- Loading Popup -->
    <div id="loadingPopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-4 rounded-lg shadow-lg flex items-center justify-center">
            <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading" class="h-48 w-48">
        </div>
    </div>

    <!-- Temporary Popup for Email Copy Confirmation -->
    <div id="copyPopup" class="fixed hidden bg-blue-600 text-white p-3 rounded-lg shadow-lg" style="z-index: 1000;">
        Email copied to clipboard!
    </div>

    <!-- Delete Confirmation Popup -->
    <div id="deletePopup" class="popup">
        <p class="text-gray-700">이 포스터는 이미 장바구니에 있습니다. 포스터를 장바구니에서 삭제하시겠습니까?</p>
        <div class="mt-4 text-center">
            <button id="confirmDeleteBtn" class="text-white bg-red-600 hover:bg-red-700 px-4 py-2 rounded-lg">확인</button>
            <button id="cancelDeleteBtn" class="text-gray-600 border border-gray-300 px-4 py-2 rounded-lg">취소</button>
        </div>
    </div>

    <!-- Add to Cart Confirmation Popup -->
    <div id="addToCartPopup" class="popup">
        <p class="text-gray-700">🖼 선택한 포스터를 장바구니에 추가하시겠습니까?</p>
        <div class="mt-4 text-center">
            <button id="confirmAddToCartBtn" class="text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-lg">확인</button>
            <button id="cancelAddToCartBtn" class="text-gray-600 border border-gray-300 px-4 py-2 rounded-lg">취소</button>
        </div>
    </div>

    <!-- Add these elements to your HTML -->
    <div id="imageAddedPopup" class="popup hidden">🛒 포스터가 장바구니에 추가되었습니다!</div>
    <div id="imageRemovedPopup" class="popup">
        <p class="popup-message">👋 포스터가 장바구니에서 삭제되었습니다!</p>
    </div>

    <!-- Footer Section -->
    <footer class="bg-white py-4 shadow mt-auto">
        <div class="container mx-auto text-center text-gray-500">
            &copy; 2024 This-is-That All rights reserved.
        </div>
    </footer>

    <script>
        const getStartedBtn = document.getElementById('getStartedBtn');
        const searchInput = document.getElementById('searchInput');
        const fileInput = document.getElementById('fileInput');
        const uploadBtn = document.getElementById('uploadBtn');
        const dropArea = document.getElementById('dropArea');
        const imageContainer = document.getElementById('imageContainer');
        const cartItems = document.getElementById('cartItems');
        const clearInputBtn = document.getElementById('clearInputBtn');
        const deletePopup = document.getElementById('deletePopup');
        const addToCartPopup = document.getElementById('addToCartPopup');
        const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
        const cancelDeleteBtn = document.getElementById('cancelDeleteBtn');
        const confirmAddToCartBtn = document.getElementById('confirmAddToCartBtn');
        const cancelAddToCartBtn = document.getElementById('cancelAddToCartBtn');
        let isRequesting = false;
        let imageToDelete = null;
        let imageToAdd = null;

        function toggleGetStartedButton() {
            const isEnabled = searchInput.value.trim().length > 0;
            getStartedBtn.disabled = !isEnabled;
            getStartedBtn.classList.toggle('bg-blue-600', isEnabled);
            getStartedBtn.classList.toggle('hover:bg-blue-700', isEnabled);
            getStartedBtn.classList.toggle('bg-gray-400', !isEnabled);
            getStartedBtn.classList.toggle('cursor-not-allowed', !isEnabled);
            getStartedBtn.classList.toggle('cursor-pointer', isEnabled);

            // Clear button visibility toggle
            clearInputBtn.classList.toggle('hidden', !isEnabled);
        }

        function showLoadingPopup() {
            document.getElementById('loadingPopup').classList.remove('hidden');
        }

        function hideLoadingPopup() {
            document.getElementById('loadingPopup').classList.add('hidden');
        }

        function displayImages(imageLinks, imageIds, imageInfos) {
            hideLoadingPopup();
            isRequesting = false;

            imageContainer.innerHTML = '';

            if (Array.isArray(imageLinks)) {
                imageLinks.forEach((link, index) => {
                    const imgElement = document.createElement('img');
                    imgElement.src = link;
                    imgElement.alt = 'Search Result Image';
                    imgElement.classList.add('w-full', 'h-auto', 'rounded-lg', 'shadow');
                    imgElement.dataset.id = imageIds ? imageIds[index] : '';
                    imgElement.dataset.info = imageInfos ? JSON.stringify(imageInfos[index]) : '';

                    const infoDiv = document.createElement('div');
                    infoDiv.classList.add('image-info');
                    infoDiv.innerHTML = `
                        <p><strong>Title:</strong> ${imageInfos[index]?.image_id || 'N/A'}</p>
                        <p><strong>Start Date:</strong> ${imageInfos[index]?.start_date || 'N/A'}</p>
                        <p><strong>End Date:</strong> ${imageInfos[index]?.end_date || 'N/A'}</p>
                        <p><strong>Place Name:</strong> ${imageInfos[index]?.place_name || 'N/A'}</p>
                        <p><strong>Actor:</strong> ${imageInfos[index]?.actor || 'N/A'}</p>
                        <p><strong>Runtime:</strong> ${imageInfos[index]?.runtime || 'N/A'}</p>
                        <p><strong>Age:</strong> ${imageInfos[index]?.age || 'N/A'}</p>
                    `;

                    imgElement.addEventListener('mouseover', function () {
                        infoDiv.style.display = 'block';
                    });

                    imgElement.addEventListener('mouseout', function () {
                        setTimeout(() => {
                            if (!imgElement.matches(':hover') && !infoDiv.matches(':hover')) {
                                infoDiv.style.display = 'none';
                            }
                        }, 100);
                    });

                    infoDiv.addEventListener('mouseover', function () {
                        infoDiv.style.display = 'block';
                    });

                    infoDiv.addEventListener('mouseout', function () {
                        setTimeout(() => {
                            if (!imgElement.matches(':hover') && !infoDiv.matches(':hover')) {
                                infoDiv.style.display = 'none';
                            }
                        }, 100);
                    });

                    const wrapper = document.createElement('div');
                    wrapper.classList.add('relative');
                    wrapper.appendChild(imgElement);
                    wrapper.appendChild(infoDiv);

                    // Add click event for adding to cart
                    imgElement.addEventListener('click', function () {
                        imageToAdd = imgElement;
                        addToCartPopup.style.display = 'block';
                    });

                    imageContainer.appendChild(wrapper);
                });

                Promise.all(Array.from(imageContainer.querySelectorAll('img')).map(img => {
                    if (img.complete) return Promise.resolve();
                    return new Promise(resolve => { img.onload = img.onerror = resolve; });
                })).then(() => {
                    document.getElementById('imageResults').scrollIntoView({ behavior: 'smooth' });
                });
            } else {
                console.error('Invalid image links format:', imageLinks);
                alert('서버에서 잘못된 형식의 응답을 받았습니다.');
            }
        }

        function addImageToCart(image) {
            const imageId = image.dataset.id;
            const imageSrc = image.src;
            const imageInfo = image.dataset.info ? JSON.parse(image.dataset.info) : {};

            let cart = JSON.parse(localStorage.getItem('cart')) || [];

            const imageExists = cart.some(item => item.id === imageId);

            if (!imageExists) {
                cart.push({
                    id: imageId,
                    src: imageSrc,
                    info: imageInfo
                });

                localStorage.setItem('cart', JSON.stringify(cart));
                showPopup('🛒 포스터가 장바구니에 추가되었습니다!', 'imageAddedPopup');
            } else {
                deletePopup.classList.add('visible');
                
                // 확인 버튼 클릭 시 장바구니에서 포스터 삭제
                confirmDeleteBtn.addEventListener('click', function() {
                    // 장바구니에서 포스터 삭제 로직
                    cart = cart.filter(item => item.id !== imageId);
                    localStorage.setItem('cart', JSON.stringify(cart));
                    deletePopup.classList.remove('visible'); // 팝업 숨기기

                    // 삭제 완료 메시지 표시
                    showPopup('👋 포스터가 장바구니에서 삭제되었습니다!', 'imageRemovedPopup');
                });

                // 취소 버튼 클릭 시 팝업 숨기기
                cancelDeleteBtn.addEventListener('click', function() {
                    deletePopup.classList.remove('visible'); // 팝업 숨기기
                });
            }
        }

        function removeImageFromCart(imageId) {
            const images = cartItems.querySelectorAll('img');
            images.forEach(img => {
                if (img.dataset.id === imageId) {
                    img.remove();
                }
            });
        }

        function sendPostRequest(data, isFileUpload = false) {
            const options = {
                method: 'POST',
                headers: isFileUpload ? {} : { 'Content-Type': 'application/json' },
                body: isFileUpload ? data : JSON.stringify(data)
            };

            fetch('/process', options)
                .then(response => response.json())
                .then(result => {
                    if (result.image_links && result.image_ids && result.image_info) {
                        displayImages(result.image_links, result.image_ids, result.image_info);
                    } else {
                        console.error('Invalid response format:', result);
                        alert('서버에서 잘못된 형식의 응답을 받았습니다.');
                    }
                })
                .catch(error => {
                    alert('An error occurred: ' + error.message);
                })
                .finally(() => {
                    isRequesting = false;
                    hideLoadingPopup();
                });
        }

        document.getElementById('copyButton').addEventListener('click', function (event) {
            const emailText = document.getElementById('emailText').innerText;
            navigator.clipboard.writeText(emailText).then(() => {
                const copyButton = event.target;
                const buttonRect = copyButton.getBoundingClientRect();
                const popup = document.getElementById('copyPopup');
                popup.style.left = `${buttonRect.left + buttonRect.width / 2}px`;
                popup.style.top = `${buttonRect.bottom + 10}px`;
                popup.classList.remove('hidden');
                setTimeout(() => {
                    popup.classList.add('hidden');
                }, 1500);
            }).catch(err => {
                console.error('Could not copy text: ', err);
            });
        });

        document.querySelectorAll('.example-text').forEach(box => {
            box.addEventListener('click', function () {
                searchInput.value = this.querySelector('span').textContent.trim();
                toggleGetStartedButton();
                if (!getStartedBtn.disabled) {
                    getStartedBtn.click();
                }
            });
        });

        function handleFileUpload() {
            if (fileInput.files.length && !isRequesting) {
                isRequesting = true;
                showLoadingPopup();
                const formData = new FormData();
                formData.append('image', fileInput.files[0]);
                sendPostRequest(formData, true);
            }
        }

        function handleGetStarted() {
            if (searchInput.value.trim() && !isRequesting) {
                isRequesting = true;
                showLoadingPopup();
                const data = { text: searchInput.value.trim() };
                sendPostRequest(data);
            }
        }

        function showPopup(message, popupId) {
            const popup = document.getElementById(popupId);
            popup.textContent = message;
            popup.classList.add('visible');
            setTimeout(() => {
                popup.classList.remove('visible');
            }, 1500); // Show the popup for 1.5 seconds
        }

        fileInput.addEventListener('change', handleFileUpload);

        uploadBtn.addEventListener('click', function () {
            fileInput.click();
        });

        dropArea.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropArea.classList.add('border-blue-600');
        });

        dropArea.addEventListener('dragleave', () => {
            dropArea.classList.remove('border-blue-600');
        });

        dropArea.addEventListener('drop', (e) => {
            e.preventDefault();
            dropArea.classList.remove('border-blue-600');
            if (e.dataTransfer.files && e.dataTransfer.files.length) {
                fileInput.files = e.dataTransfer.files;
                handleFileUpload();
            }
        });

        getStartedBtn.addEventListener('click', handleGetStarted);

        searchInput.addEventListener('input', toggleGetStartedButton);

        clearInputBtn.addEventListener('click', function () {
            searchInput.value = '';
            toggleGetStartedButton();
            searchInput.focus(); // Clear 후 입력 필드에 포커스 유지
        });

        toggleGetStartedButton();

        confirmDeleteBtn.addEventListener('click', function () {
            if (imageToDelete) {
                removeImageFromCart(imageToDelete.dataset.id);
                imageToDelete.remove();
                deletePopup.style.display = 'none';
                imageToDelete = null;
            }
        });

        cancelDeleteBtn.addEventListener('click', function () {
            deletePopup.style.display = 'none';
            imageToDelete = null;
        });

        confirmAddToCartBtn.addEventListener('click', function () {
            if (imageToAdd) {
                addImageToCart(imageToAdd);
                addToCartPopup.style.display = 'none';
                imageToAdd = null;
            }
        });

        cancelAddToCartBtn.addEventListener('click', function () {
            addToCartPopup.style.display = 'none';
            imageToAdd = null;
        });
    </script>
</body>

</html>
